.raidscontainer {
  position: fixed;
  color: white;
  right: 0px;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #1e1e1e;
  width: 40%;
  min-height: 100vh;
  margin: none;
}

.singleraid {
  width: 50%;
  padding-right: 10px;
  padding-left: 10px;
  border-right: solid black 2px;
}

.raiddata {
  margin-top: 40px;
  padding-bottom: 10px;
  border: solid white 1px;
}

.raidtitle {
  display: flex;
  margin-top: 0px;
  padding-bottom: 10px;

  justify-content: center;
}
.missingbuff {
  margin-left: 5px;
}

.missingbufflist {
  display: flex;
  gap: 10px;
}

.rolecontainer {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rolemain {
  margin-left: 5px;
}

.rolelist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  gap: 10px;
  margin-bottom: 40px;
  line-height: 1;
}

.tokencount {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  margin-left: 5px;
}

.playerinraid {
  margin: 0;
}

.nobuff {
  color: red;
}

.allbuffs {
  color: green;
}

.Mystic {
  order: 1;
}

.Zenith {
  order: 2;
}

.Dreadful {
  order: 3;
}

.Venerated {
  order: 4;
}
